/**------------------------------Global---------------------------------------*/

/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*browser reset*/
*{
    margin:0px;
    padding:0px;
}


html{
    font-family: 'Arial',sans-serif;
    background:#ecdbdb;
}

.body-content{
    width: 90%;
    margin: auto;
    background: #ffffff;
}

/*links*/
a{
    text-decoration: none;
}

ul li a{
    text-decoration:  none;
}

/*tables*/
table{
    display: inline-block;
    font-size:1.0em;
    color:#1D2731;
    margin: 0 20px;
}
table, th, td {
   border-bottom: 1px solid #cccccc; /*horizontal dividers*/
   border-collapse: collapse;
}

td{
    padding: 3px;
}

/*text*/
p{}
h1{}
h2,h3{
    font-weight:700; 
    color:#003333;
    font-size:1.5em;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 20px;
}

h4{
    padding: 10px;
    background: orange;
    color:#003333;
    margin:0px 0px 10px 0px;
}

span{}

/**------------------------------Start Banner---------------------------------*/

#top-bar{
    display: block;
    background: #0084b4;
    height: 6px;
}

#banner{
    margin:auto;    
    width:90%;
    height: 17%;
    background: #ffffff;
}

#logo{
    float:left;
    margin-top: 10px;
    background-size:144px 57px;
    background-repeat: no-repeat;
    width: 150px;
    height: 100%;
}

#contacts-block{
    background-color:#E8E8E8;
    width:30%;
    height:90px;
    float:right;
}

.social-icons{
    margin: 10px 10px 0px 3px;
    float: right;
}

#contacts-text{
    height: 10%;
    margin: 5px 10px 3px 3px;
    display: block;
    text-align: right;
    font-size: 1.0em;
    color: #333A56;
    font-weight: 600;
}

/*login & register panel*/
.access {
    float: right;
    background: #00ACED;
    padding: 5px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: small;
}

.access ul{
    float: right;
}

.access li{
    display: inline;
    text-decoration: none;
    text-align: right;
}

.access a{
    color: #ffffff;
    text-decoration: none;
    padding: 5px 5px;
    font-weight: 400;
}

/* navigation bar */

#menubar{
    clear: both;
    display: block;
    background: #00ACED;
    margin-top: 15px;
    height: 60px;
    font-weight: 600;
}

#menubar ul{
    padding: 20px 10px;
    margin:0px 0px 5px 20%;
}

#menubar li{
    display: inline;
    margin-right:10px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    }

#menubar a{
    color: #ffffff;
    text-decoration: none;
}

#menubar a:hover{
    color: #003333;
    background: #ffffff;
    padding: 20px 5px 25px 6px;
}

/**------------------------------End Banner-----------------------------------*/
/**------------------------------Start Bed filter panel-----------------------*/
#bed-filter{
    position: relative;
    margin-left: 25%;
    margin-right: 20%;
    /*border:#003333 solid thin;*/
    padding: 10px 5px 10px 5px;
    width: 60%;
    float: left;
}

#bed-filter a{
    font-weight: 600;
    font-size: 0.9em;
    background:#EA4335;
    display: inline-block;
    margin-right: 40px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
}

/**------------------------------ Start Filter Panel -------------------------*/

.filter-panel{
    width:20%;
    margin:10px 10px 5px 0px;
    display: inline-block;
    float: left;
}

  .filter-panel h1 {
    background:#EA4335;
    width: auto;
    height:20px;
    color:#ffffff;
    margin:0px;
    padding: 10px 10px 5px 10px;
    font-size: medium;
    text-align: center;
    border-bottom: #ffffff thin solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.filter-panel h3{
    font-size: small;
    font-weight:400;
    display:block;
    padding: 10px 20px 10px 20px;
    background: #dfd8d8;
    border: dashed #bbafaf thin;
    color: #333A56;
}

.filter-panel ul{
    padding: 5px;
}

.filter-panel li{
    list-style: none;
    font-size: small;
    padding:5px 3px 5px 3px;    
    margin-left: 20px;
}

/**------------------------------ End Filter Panel ---------------------------*/

/**------------------------------ Start Slider ---------------------------*/
.slider-main{
    /*height: 250px;*/
    width: 78%;
    display: inline-block;
    margin-top:10px;
    float: right;
}


/**------------------------------ Start Teaser ---------------------------*/
.teaser-row{
    width: 99%;
    background: #efefef;
    margin:10px 0px;
    border: dashed thin gainsboro;
    padding:4px;
    
    float: right;
}


 a#btn-browser{
    font-weight: bold;
    background:#EA4335;
    clear: both;
    float: right;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px 10px;
    border-radius: 3px;
}

a#btn-browser:hover{
    color: #ffffff;
    background: #EA4320;
}
/**------------------------------ Start catalog ---------------------------*/
.catalog-row{
    display: inline-block;
    width: 250px;
    background: #fff;
    margin:10px 0px;
    border: dashed thin #cccccc;
    padding:4px;
}

.catalog-item{
    display: inline-block;
}

.catalog-item a{
    text-decoration: none;
}

.catalog-item-id{
    background: #0084b4;
    opacity: 0.8;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
}

.catalog-item p{
    opacity: 0.8;
    padding: 3px;
    font-size: 0.95em;
    color:#ffffff;
    background:#0084b4;
    text-align: right;
}


/**------------------------------Start item details --------------------------*/

#details-images-slider{
    width: 70%;
    border: #cccccc dashed thin;
    margin: 10px 0px 10px 0px;
    display: inline-block;
    height: 450px;
    padding:5px;
    float: left;
}

#details-images-slider span{
    padding: 5px;
    background:black;
    opacity:0.4;
    color: #ffffff;
    height: auto;
    font-weight: bold;
    font-style: italic;
    position: relative;
    z-index: 1;
    
}

#item-details{
    width: 25%;
    position: relative;
    float: right;    
    margin: 10px 0px 0px 0px;
    background: #E8E8E8;
    padding: 10px 10px 10px 20px;
    color: #1D2731;
    font-size: small;
}

/*select span elements that are direct descendants of div with id 'item-details'*/


#price-tag{
    margin-top:20px;
    background:#333A56;
    font-size: 1.4em;
    font-weight: 700;
    color:#ffffff;
    text-align: right;
    padding:4px;
}

#item-details a{
    font-weight: bold;
    background:#EA4335;
    clear: both;
    float: right;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px 10px;
    border-radius: 3px;
    width: 90%;
}

#item-details a:hover{
    color: #ffffff;
    font-weight: bold;
    background:darkolivegreen;
    clear: both;
    float: right;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 10px 15px 10px;
    border-radius: 3px;
}

#plan-specs{
    display: inline-block;
    margin:10px 5px 10px 5px; 
    color:#1D2731;
    font-size:0.95em;
    width: 28%;
    padding:0px;
}

#plan-specs > span{
    margin-top:20px;
    margin-left: 0px;
    width: 97%;
    background: #006666;
    color: #fff; 
    font-weight: bold;
    text-align: center;
    padding: 10px 5px 5px 5px;
}

#plan-specs p{
     font-weight: bold; 
     margin-top: 5px; 
     margin-bottom: 10px;
}

#plan-specs table{
    width: 100%;
    margin:0px 0px;
}

#plan-specs table th{
    background: #006666;
    color: #fff; 
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#plan-specs table td{
    width:100%;
}


/**------------------------------Start order summary -------------------------*/
#order-summary-row{
    position: relative;
    width: 95%;
    border: #cccccc dashed thin;
    margin:10px 10px 10px 10px;
    font-size: small;
    color:#1D2731;
    padding: 10px;
    height:250px;
    
}
#order-summary-img{
    width:30%;
    padding: 5px;
    border:thin solid lightgray;
    display: inline-block;
}

#order-summary-desc{
    display: inline-block;
    position: absolute;
    left:32%;
    width: 30%;
    padding: 10px;
    border:thin solid lightgray;
}

#order-summary-options{
    margin: 10px 0px;
    display: inline-block;
    position: relative;
    border:thin solid lightgray;
    width: 100%;
    
}

a#order-summary-options{
    text-decoration: none;
    display: inline-block;
    background:#EA4335;
    padding: 3px;
    color: #ffffff;
    border: thin #EA4335 solid;
    border-radius: 3px;
    font-size: small;
    margin:10px 5px 5px 5px;
    width: 100px;
    text-align: center;
    float: right;
}

#order-summary-payment-guide{
    display: inline-block;
    position: absolute;
    left:68%;
    width: 25%;
    padding: 10px;
    /*border:thin solid lightgray;*/
}


form{
    /*border:thin solid #cccccc;*/
    width: 97%;
    padding: 5px;
    margin: auto;
    position: relative;
    /*height: 260px;*/
}
.formlayout{
    position: relative;
}

.formlayout label{
    display: block;
    width:120px;
    float: left;
    margin-bottom:10px;
    margin-left:20px;
    height: 20px;
}

.formlayout input, .formlayout select{
    display: block;
    width:200px;
    height: 20px;
    float: left;
    margin-bottom:10px;
    border:thin solid darkgrey;
    padding: 3px 5px 3px 5px;
}

.splitter{
    clear: both;
}

.hidden{
    visibility: hidden;
}

.confirmation-box{
    width: 90%;
    padding: 30px;
    border: #bbafaf thin solid;
    margin: 20px 30px;
    text-align: center;
    color:#777;
}

a#complete-order{
    text-decoration: none;
    display: inline-block;
    background:#EA4335;
    padding: 10px 5px 10px 5px;
    color: #ffffff;
    border: thin #EA4335 solid;
    border-radius: 3px;
    margin:10px 1px 5px 1px;
    width: 200px;
    height: 30px;
    text-align: center;
}
/**------------------------------Start register+login ------------------------*/

#login-block{
    position:relative;
    display: inline-block;
    width:40%;
    margin:20px 10px 20px 10px;
    padding: 5px 20px 5px 30px;
}

a#account-btn{
    text-decoration: none;
    display: inline-block;
    background:#EA4335;
    padding: 5px 5px;
    color: #ffffff;
    border: thin #EA4335 solid;
    border-radius: 3px;
    width: 100px;
    text-align: center;
    margin-left: 240px;
}
#vbar-splitter{
    width: 10px;
    background:#003333;
    height: 300px;
    display: inline-block;
    border-radius: 4px;
}

a#tiny-note{
    font-size: small;
    color:#333A56;
    display: inline-block;
    padding: 5px 5px;
    margin-left: 240px;
    margin-top: 15px;
    text-align: right;
}
/**------------------------------Start Footer --------------------------------*/

#about{
    display: inline-block;
    width: 100%;
    background: #1D2731;
    margin: auto;
    padding: 0px 0px 3px 0px;
    border-bottom: #ffffff solid 10px;
}

#about p{
    padding: 20px;
    font-size: small;
    color:#ffffff;
    width:400px;
    margin-right:10px;
    display: inline-block;
}

#about span{
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: small;
    margin-bottom: 20px;
}
/**------------------------------ End Footer --------------------------------*/

/**------------------------------ Primefaces custom --------------------------*/
/*reset primefaces components*/
.ui-widget  {
    font-size: 80% !important;
 }
 
 .ui-widget .ui-widget{
     font-size: 100% !important;
 }
 
 .ui-panelgrid td, .ui-panelgrid-cell tr{
     border-style: hidden !important
 }
 
 .ui-panel{
    border-style: hidden !important
}

