/*reset*/
*{
    margin:0px;
    padding:0px;
}

.body-content{
    width: 80%;
    margin: auto;
}

#banner{
    margin:auto;    
    position: relative;
    width:80%;
    height: 17%;
    background:white;
    align-items: baseline;
    /*border: #cccccc thin solid;*/
}

#logo{
    float:left;
    padding-left:10px;
    margin-top: 20px;
    background-size:144px 57px;
    background-repeat: no-repeat;
    width: 150px;
    height: 100%;
}

#contacts{
    background-color:#E8E8E8;
    width:30%;
    height:70%;
    float:right;
}

.social-icons{
    margin: 10px 10px 0px 3px;
    align-items:baseline;
    float: right;
    display: inline-block;
}

#contacts-text{
    height: 10%;
    margin: 5px 10px 5px 3px;
    display: block;
    text-align: right;
    font-size: 1.0em;
    color: #333A56;
    font-family: 'PT Serif', sans-serif;
    font-weight: 400;
}

#nav-bar{
    background-color: grey;
    width: 80%;
    height:5%;
    margin: auto;
    border: #cccccc thin solid;
}

/*login & register button*/
.btn {
    float: right;
    background: #155765;
    padding: 5px 0px;
    margin-top: 15px;
    width: 100%;
    font-size: small;
}

.btn ul{
    float: right;
}

.btn li{
    display: inline;
    text-decoration: none;
    text-align: right;
}

.btn a{
    color: #ffffff;
    text-decoration: none;
    padding: 5px 5px;
    font-family: sans-serif arial;
    font-weight: 400;
}
/* navigation bar */

.menu{
    background: #155765;
    color: #ffffff;
    margin-bottom: 10px;
    height: 40px;
    font-family: sans-serif arial;
    font-weight: 300;
    font-size: small;
}

.menu ul{
/*    height: auto;*/
    padding: 10px 10px;
}

.menu li{
    display: inline;
    margin-right:10px;
    margin-left: 10px;
    }

.menu a{
    color: #ffffff;
    text-decoration: none;
    padding: 6px 6px 6px 6px;
    border-left: #ffffff solid thin;
}

.menu a:hover{
    color: #003333;
    background: #ffffff;
    padding: 12px 6px 12px 6px;
    border-left:none;
}

/*end navigation bar */

#details-images-slider{
    width: 65%;
    border: #cccccc dashed thin;
    height: auto;
    margin-bottom:10px;
    display: inline-block;
}

#details-images-slider span{
    padding: 5px;
    background:black;
    opacity:0.4;
    color: #ffffff;
    height: auto;
    font-weight: bold;
    font-style: italic;
    position: relative;
    z-index: 1;
    
}

#item-details{
    width: 30%;
    height: 55%;
    position: relative;
    float: right;
    margin-bottom:10px;
    background: #E8E8E8;
    padding: 10px 10px 10px 20px;
    color: #1D2731;
    font-size: small;
}

#item-details span{
    display: block;
    background: #669900;
    padding: 20px 10px 10px 20px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#price-tag{
    margin-top:20px;
    background:#333A56;
    font-size: 1.4em;
    font-weight: 700;
    color:#ffffff;
    text-align: right;
    padding:4px;
}

#item-details a{
    color: #ffffff;
    font-weight: bold;
    background:#669900;
    clear: both;
    float: right;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
        color: #ffffff;
    text-decoration: none;
    padding: 10px 15px 10px;
    border-radius: 3px;
}

#item-details a:hover{
    color: #ffffff;
    font-weight: bold;
    background:darkolivegreen;
    clear: both;
    float: right;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 10px 15px 10px;
    border-radius: 3px;
}

#plan-specs{
    position: relative;
    clear: both;
    width: 90%;
    border: #cccccc dashed thin;
    margin-bottom:10px;
    
    font-size: small;
    color:#1D2731;
    padding: 20px;
}

table{
    display: inline-block;
    font-size:1.0em;
    color:#1D2731;
    margin-right: 20px;
}
table, th, td {
   border: 1px solid #cccccc;
   border-collapse: collapse;
}

td{
    padding: 3px;
}

#item-details select{
    width: 95%;
    padding: 5px;
}
/*about bar*/
#about{
    width: 100%;
    background: #1D2731;
    position: relative;
    float:left;
    height: 200px;
}

#about p{
    padding: 40px;
    font-size: small;
    color:#ffffff;
    font-family: sans-serif arial;
    width:400px;
    margin-right:10px;
    display: inline-block;
}

#about span{
    display: block;
    color: #ffffff;
    font-family: sans-serif arial;
    text-align: center;
    font-size: small;
    margin-top: -20px;
}
