
/* 
    Created on : Feb 22, 2017, 2:03:32 PM
    Author     : klash
*/

/*reduce fonts primefaces ui*/
.ui-widget {
    font-size: 80%;
 }
.ui-widget .ui-widget {
    font-size: 100%;
 }
 
 .borderless{
     border:#fff;
 }
