/*

    Created on : Feb 22, 2017, 11:03:00 PM
    Author     : kelly
*/

/*reduce fonts primefaces ui*/
.ui-widget {
    font-size: 80%;
 }
.ui-widget .ui-widget {
    font-size: 100%;
 }
 
 .ui-widget a#admin-panel-btn{
     text-decoration: none;
     font-weight: bold;
 }
 
 .ui-widget a#admin-panel-btn:hover{
     text-decoration: none;
     font-weight: bold;
     /*background:#cccccc;*/
 }
 
 .ui-panelgrid-cell{
     border:solid thin #fff;
 }
 
 table#j_idt13 tr{
    border: solid thin #ffffff;
    /*background: #E8E8E8;*/
 }

 
*{
    margin:0px;
    padding:0px;
}

html{
    font-family: 'Arial',sans-serif;
}

body{
    width: 90%;
    margin: auto;
}

#top-banner{
    width:100%;
    background: orange;
    height: 30px;
}

